<% include partials/header.ejs%>
<h1>All blogs are here</h1>

<% blogs.forEach(function (blog) { %>
    <div>
        <h3><%= blog.title%></h3>
        <p><%= blog.date%></p>
        <img src="<%= blog.img%>">
        <p><%= blog.body%></p>
    </div>
<%})%>

<% include partials/footer.ejs%>
