i.icon {
    font-size: 1.5em;
}

.container.main.segment {
    margin-top: 100px;
}

.btn-container {
    text-align: center;
}

.body{
    margin-top: 20px;
}

#delete{
    display: inline;
}

.space{
    margin: 10px 0px;
}